<app-banner-slider></app-banner-slider>
<div class="home-content">
<!--SHOP section-->
<div class="grid-img-wrapper page-width">
    <div class="index-title">
        <h1>SHOP</h1>
        <p>Discover our ready to wear and unstitched lines.</p>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4  col-sm-4 grid-img">
            <img src="../../assets/images/img1.jpg">
            <div class="image-content">
                <a href="#">
                    <h3>ÉLAN VITAL</h3>
                </a>
                <ul>
                    <li><a href>VITAL</a></li>
                    <li><a href> INDIGENE</a></li>
                    <li><a href>ESSENTIALS</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-4  col-sm-4 grid-img">
            <img src="../../assets/images/img2.jpg">
            <div class="image-content">
                <a href="#">
                    <h3>ÉLAN UNSTITCHED</h3>
                </a>
                <ul>
                    <li><a href>LAWN</a></li>
                    <li><a href> VILLETTE</a></li>
                    <li><a href>TRESOR</a></li>
                    <li><a href>TISSUE DE LUXE</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4  col-md-4 col-sm-4  grid-img ">
            <img src="../../assets/images/img3.jpg">
            <div class="image-content">
                <a href="#">
                    <h3>ÉLAN VITAL</h3>
                </a>
                <ul>
                    <li><a href>VITAL</a></li>
                    <li><a href> INDIGENE</a></li>
                    <li><a href>ESSENTIALS</a></li>
                </ul>
            </div>
        </div>
    </div>


</div>

<div class="page-width">
    <!--Studio section-->
    <div class="bigimg-wrapper grid-img-wrapper">
        <div class="index-title">
            <h1>STUDIO</h1>
            <p>Our magnificent, coveted couture pieces</p>
        </div>
        <div class="">
            <div class="bigimg-container  grid-img">
                <img src="../../assets/images/bigimg-new.webp">
                <div class="bigimg-content image-content">
                    <a href="">
                        <h3>Wedding &amp; Luxury Couture</h3>
                    </a>
                    <ul>
                        <li><a href="">Rêve d'été</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!--grid bridal / CONTEMPORARY section-->
    <div class="grid  grid-img-wrapper">
        <div class="row ">
            <div class="col-lg-6 col-md-6  col-sm-6  grid-container  grid-img ">
                <img src="../../assets/images/bridal_3_440x.webp">
                <div class=" image-content">
                    <a href="">
                        <h3>BRIDAL</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6  grid-container  grid-img">
                <img src="../../assets/images/Contemporary_440x.webp">
                <div class=" image-content">
                    <a href="">
                        <h3>CONTEMPORARY</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>

 <!--compagn-banner slider -->
    <div class="compagn-banner ">
        <div class="index-title">
            <h1>CAMPAIGNS</h1>
            <p>View our trendsetting editorial campaigns</p>
        </div>
        <div class="owl-carousel owl-theme" id="compagn-banner-slider">
            <div class="item"><a href="#"><img src="../../assets/images/silk-17-catalogue_1500x.jpg"></a></div>
            <div class="item"><a href="#"><img src="../../assets/images/vital-campaign_1500x.jpg"></a></div>
            <div class="item"><a href="#"><img src="../../assets/images/silk-17-catalogue_1500x.jpg"></a>
            </div>
        </div>
    </div>
<!-- about brand-->
    <div class="brand">
        <div class="index-title">
            <h1>BRAND</h1>
            <p>Learn more about Élan</p>
        </div>
        <div class="">
            <div class="row">
                <div class="brand-container col-md-6 col-lg-6 col-sm-6 ">
                    <img src="../../assets/images/brand1.webp">
                    <p>About Elan</p>
                </div>
                <div class="brand-container col-md-6 col-lg-6 col-sm-6 ">
                    <img src="../../assets/images/brand2.webp">
                    <p> OUr CREATIVE DIRECTOR</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<app-mobile-home></app-mobile-home>