
<!--footer -->
<div class="home-content">
<footer>
        <div class="top-footer">
            <div class="top-footer-left ">
                <p>Subscribe to Élan’s newsletter to be kept up to date about the latest fashion, hottest trends, new
                    collections and much more.</p>
                <form>
                    <input class="searchbox" type="search" placeholder="Enter your email here">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" x="0px"
                        y="0px" viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;">
                        <polyline class="st1" style="fill:none;stroke:#231F20;stroke-width:2;stroke-miterlimit:10;"
                            points="10.5,39.2 29.5,20 10.6,0.8 "></polyline>
                    </svg>
                </form>
            </div>
            <div class="top-footer-right  ">
                <p class="contact-info"><strong>Contact</strong> +92 42 111 11 ELAN (3526)
                    <br><strong>Customer Care</strong> Monday to Friday, 9am to 5pm PST</p>
            </div>
        </div>
        <div class="bottom-footer">
            <p>
                <a href="#">FAQS</a>
                <a href="#">Contact</a>
                <a href="#">Terms of Use</a>
                <a href="#">Privacy</a>
                <a href="#">Retail Locations</a>
    
                <span class="pull-right">
                    <a href="#" target="_blank">YouTube</a>
                    <a href="#" target="_blank">Instagram</a>
                    <a href="#" target="_blank">Facebook</a>
                    <a href="#" target="_blank">Twitter</a>
                </span>
            </p>
        </div>
    </footer>
</div>