@font-face{
    font-family: "gillsans light" ,sans-serif;
    src: url(../fonts/gillsans-light.woff),format("woff"),;
}
@font-face{
    font-family: "Futura Book", sans-serif;
    src: url(../fonts/futuralt-book.woff),format("woff"),;
}
@font-face{
    font-family: "gillsans" ,sans-serif;
    src: url(../fonts/gillsansmt.woff),format("woff"),;
}
@font-face{
    font-family: "symbola" ,sans-serif;
    src: url(../fonts/Symbola.woff),format("woff"),;
}