@mixin a_style {
    text-decoration: none;
    color:$primary-color;
    font-family: $primary-font;
    font-size: 13px;
    color:$primary-color;
    font-weight: 400;
    &:hover{
        color:$hover-color;
    }
    &:active{
        color:$hover-color;
    }
    
}
@mixin dropdown{
    text-align: left;
    margin: 8px;
    position: absolute;
    height: auto;
    left: -8px;
    text-transform:unset;
    li{
        a{
         padding: 4px 4px 4px 0;
         font-weight: 200;
         @include a_style();
        }
    }
}