@mixin a_style {
    text-decoration: none;
    color:$primary-color;
    font-family: $primary-font;
    font-size: 13px;
    color:$primary-color;
    font-weight: 400;
    &:hover{
        color:$hover-color;
    }
    &:active{
        color:$hover-color;
    }
    
}
@mixin dropdown{
    text-align: left;
    margin: 8px;
    position: absolute;
    height: auto;
    left: -8px;
    text-transform:unset;
    li{
        a{
         padding: 4px 4px 4px 0;
         font-weight: 200;
         @include a_style();
        }
    }
}
@mixin side-content-style{
    .side-navigation__content{
        padding: 0;
        .dropdown-item{
           list-style: none;
           border-bottom: 1px solid #dddddd;
           padding-bottom: 9px;
           padding-right: 2px;
           padding-top: 9px;
           background: transparent;
           a{
               text-decoration: none;
               color:$primary-color;
               font-size: 13px;
               font-weight: 500;
               text-transform: uppercase;
           }
           &__icon{
              float: right;
              font-size: 16px;
              height: 40px;
               width: 40px;
               text-align: center;
              i{
               color: gray;
               opacity: .5;
               font-size: 18px;
              }
           }
       }
   }
}