$primary-color:#000000;
$secondery-color:#fff;
$header-background: rgba(255,255,255,0.95);
$sidenav-background:  rgba(237, 235, 233,0.9);
$hover-color:#999;
$footer-bottom-background: #eee;
$sidebar-button:#373737;
$sidebar-title-background: #f8f8f8;

$primary-font:"gillsans" ,sans-serif;
$home-font:"Symbola", 'Average', times;