<div class="page-width mobile-home d-sm-none ">
    <div class="mobile-home__shopify-section">
        <div class="heading">
            <a href="#">
                <h2>Élan Vital</h2>
            </a>
            <p>Our trendy daywear line</p>
        </div>
        <a href=""><img src="../../assets/images/mb1.webp"></a>
    </div>
    <div class="mobile-home__shopify-section">
        <div class="heading">
            <a href="#">
                <h2>Élan Unstitched</h2>
            </a>
            <p>Create timely style with our luxurious fabrics</p>
        </div>
        <a href=""><img src="../../assets/images/mb2.webp"></a>
    </div>
    <div class="mobile-home__shopify-section">
        <div class="heading">
            <a href="#">
                <h2>Prêt-à-Porter</h2>
            </a>
            <p>Capsule collections you won’t find elsewhere</p>
        </div>
        <a href=""><img src="../../assets/images/mb3.webp"></a>
    </div>
    <div class="mobile-home__shopify-section">
        <div class="heading">
            <a href="#">
                <h2>Wedding & Luxury Couture</h2>
            </a>
            <p>Our made to order meticulously crafted formals</p>
        </div>
        <a href=""><img src="../../assets/images/mb1.webp"></a>
    </div>

    <div class="mobile-home__shopify-section">
        <div class="heading">
            <a href="#">
                <h2>studio</h2>
            </a>
            <p>Our magnificent, coveted couture pieces</p>
        </div>
        <a href=""><img src="../../assets/images/mb5.webp"></a>
    </div>
    <div class="mobile-home__shopify-section">
        <div class="heading">
            <a href="#">
                <h2>compaigns</h2>
            </a>
            <p>Our magnificent, coveted couture pieces</p>
        </div>
        <a href=""><img src="../../assets/images/mb6.webp"></a>
    </div>
</div>