<div class="page-width d-none d-sm-block">
    <div class="row grid-container">
        <div class="left-gellery ">
            <img class="thumbnail active" src="../../assets/images/product1.jpg" alt="" onload="myFunction(this);">
            <img class="thumbnail" src="../../assets/images/product2.jpg" alt="" onload="myFunction(this);">
            <img class="thumbnail" src="../../assets/images/product3.jpg" alt="" onload="myFunction(this);">
        </div>
        <div class="zoom middle-gellery col-md-6  col-sm-6 col-lg-6 " id="produto"  >
            <img  id="expandedImg"  src="../../assets/images/product1.jpg" >
        </div>
        <div class="gellery-right col-md-4 col-sm-4 col-lg-4">
            <div class="title">
                <h1>EL-15 B (JOHARI)</h1>
                <p class="price">Rs. 8,750</p>
            </div>
            <form action="#" class="form-flex ">
                <div class="type-container">
                    <label class="type">Type </label><br>
                    <select>
                        <option value="Unstitched">Unstitched</option>
                    </select>
                </div>
                <div class="form-item-quantity">
                    <label for="Quantity" class="type">Quantity</label><br>
                    <input type="number" id="Quantity" name="quantity" value="1" min="1" max="5" class="quantity">
                </div>

            </form>
            <button type="button" class=" addtocart">ADD TO CART</button>
            <div class="description-body">
                <p>A fusion Kashmiri Firin in verdant green and sooty ebony makes an exquisite composition in 'Johari.'
                    A beautifully embroidered tapestry is thoughtfully crafted using a new technique inspired by the
                    traditional sozni hand embroidery and set off by a skillfully woven checked organza dupatta. This
                    design will make a striking statement no matter your surroundings.<br></p>
                <p><span>Stitched like a kashmiri firin, the shirt has a long and relaxed silhouette with drop shoulders
                        and side panels with satin detailing and satin scallops, lace followed by pleated net finish on
                        the hemline. The neckline has loop lace detailing and satin piping and the sleeves have a satin
                        scallop finish with net detailing. The dupatta has a satin finish with net pleated detailing and
                        the straight trouser has a satin scallop and lace finish.</span></p>
                <p>Dupatta (Jacquard) 2.50 Meters<br>Embroidered Shirt Front (Lawn) 0.67 Meter<br>Embroidered Shirt Back
                    (Lawn) 0.67 Meter<br>Embroidered Sleeves (Lawn) 0.65 Meters<br>Digital Print Trouser (Cotton)
                    <span>2 Meters</span><br>Embroidered Side Extensions (Lawn) 0.66 Meters<br>Embroidered Running Patti
                    (Satin Silk) 3.20 Meters <br>Embroidered Front &amp; Back Crew (Satin Silk) 02 Pieces</p>
                <p><span>" Please note that the stitched outfits will take 4 weeks for delivery "</span></p>
            </div>
            <div class="description">
                <button class="details" type="button" data-toggle="collapse" data-target="#collapse2"
                    aria-expanded="false" aria-controls="collapseExample">
                    size chart &#709;
                </button>

                <div class="collapse" id="collapse2">
                    <table border="1">
                        <tbody id="sizechart_table">
                            <tr>
                                <td>(inches)</td>
                                <td>S</td>
                                <td>M</td>
                                <td>L</td>
                            </tr>
                            <tr>
                                <td>Length</td>
                                <td>38</td>
                                <td>39</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Bust</td>
                                <td>23</td>
                                <td>24.5</td>
                                <td>26</td>
                            </tr>
                            <tr>
                                <td>Hem</td>
                                <td>29.5</td>
                                <td>31</td>
                                <td>32.5</td>
                            </tr>
                            <tr>
                                <td>Cross Back (Shoulder)</td>
                                <td>14</td>
                                <td>14.5</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>Sleeves Length</td>
                                <td>25.5</td>
                                <td>26</td>
                                <td>26.5</td>
                            </tr>
                            <tr>
                                <td>Trouser's Length</td>
                                <td>36</td>
                                <td>37</td>
                                <td>38</td>
                            </tr>
                            <tr>
                                <td>Waist</td>
                                <td>28</td>
                                <td>30</td>
                                <td>32</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>*Select the size that most closely matches your body measurements. Measurements may vary by
                        style.</p>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="mobile-only d-sm-none">
    <div class="slider">
        <div class="owl-carousel owl-theme" id="product-slider">
            <div class="item"><a href="#"><img src="../../assets/images/product1.jpg"></a></div>
            <div class="item"><a href="#"><img src="../../assets/images/product2.jpg"></a></div>
            <div class="item"><a href="#"><img src="../../assets/images/product3.jpg"></a>
            </div>
        </div>
    </div>
    <div class="product-title-mob">
        <p>EL-15 B (JOHARI)</p><br>
        <p class="price">Rs. 8,750</p>
        <div class="float-right">
            <button type="button" class="addbtn">ADD</button>
        </div>
    </div>

    <div class="description">
        <button class="details" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            Details &#709;
        </button>

        <div class="collapse show" id="collapseExample">
            <div class="description-body">
                <p>A fusion Kashmiri Firin in verdant green and sooty ebony makes an exquisite composition in 'Johari.'
                    A beautifully embroidered tapestry is thoughtfully crafted using a new technique inspired by the
                    traditional sozni hand embroidery and set off by a skillfully woven checked organza dupatta. This
                    design will make a striking statement no matter your surroundings.<br></p>
                <p><span>Stitched like a kashmiri firin, the shirt has a long and relaxed silhouette with drop shoulders
                        and side panels with satin detailing and satin scallops, lace followed by pleated net finish on
                        the hemline. The neckline has loop lace detailing and satin piping and the sleeves have a satin
                        scallop finish with net detailing. The dupatta has a satin finish with net pleated detailing and
                        the straight trouser has a satin scallop and lace finish.</span></p>
                <p>Dupatta (Jacquard) 2.50 Meters<br>Embroidered Shirt Front (Lawn) 0.67 Meter<br>Embroidered Shirt Back
                    (Lawn) 0.67 Meter<br>Embroidered Sleeves (Lawn) 0.65 Meters<br>Digital Print Trouser (Cotton)
                    <span>2 Meters</span><br>Embroidered Side Extensions (Lawn) 0.66 Meters<br>Embroidered Running Patti
                    (Satin Silk) 3.20 Meters <br>Embroidered Front &amp; Back Crew (Satin Silk) 02 Pieces</p>
                <p><span>" Please note that the stitched outfits will take 4 weeks for delivery "</span></p>


            </div>
        </div>
    </div>


    <div class="description">
        <button class="details" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
            aria-controls="collapseExample">
            size chart &#709;
        </button>

        <div class="collapse" id="collapse2">
            <table border="1">
                <tbody id="sizechart_table">
                    <tr>
                        <td>(inches)</td>
                        <td>S</td>
                        <td>M</td>
                        <td>L</td>
                    </tr>
                    <tr>
                        <td>Length</td>
                        <td>38</td>
                        <td>39</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>Bust</td>
                        <td>23</td>
                        <td>24.5</td>
                        <td>26</td>
                    </tr>
                    <tr>
                        <td>Hem</td>
                        <td>29.5</td>
                        <td>31</td>
                        <td>32.5</td>
                    </tr>
                    <tr>
                        <td>Cross Back (Shoulder)</td>
                        <td>14</td>
                        <td>14.5</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>Sleeves Length</td>
                        <td>25.5</td>
                        <td>26</td>
                        <td>26.5</td>
                    </tr>
                    <tr>
                        <td>Trouser's Length</td>
                        <td>36</td>
                        <td>37</td>
                        <td>38</td>
                    </tr>
                    <tr>
                        <td>Waist</td>
                        <td>28</td>
                        <td>30</td>
                        <td>32</td>
                    </tr>
                </tbody>
            </table>
            <p>*Select the size that most closely matches your body measurements. Measurements may vary by style.</p>
        </div>

    </div>
</div>
