<div class="desktop_banner d-none d-sm-block">
    <div class="owl-carousel owl-theme " id="owl-demo">
        <div class="item"><a routerLink="/collections"><img src="../../assets/images/1920x765_7d93c858-dd22-4fef-bb47-2a2cfaf8869a_1920x.jpg"></a></div>
        <div class="item"><a routerLink="/collections"><img src="../../assets/images/1920x765_copy_1920x.jpg"></a></div>
        <div class="item"><a routerLink="/collections"><img src="../../assets/images/desktop-main-slider-banner4_f9ee5ddd-807e-4d32-9e14-d08ac29145df_1920x.jpg"></a>
        </div>
    </div>
</div>
    <div class="mobile-banner d-sm-none">
        <div class="owl-carousel owl-theme" id="mobile-slider">
            <div class="item"><a routerLink="/collections"><img src="../../assets/images/mobile-bnner.jpg"></a></div>
            <div class="item"><a routerLink="/collections"><img src="../../assets/images/mslider.webp"></a></div>
            <div class="item"><a routerLink="/collections"><img src="../../assets/images/mslider1.webp"></a></div>
        </div>
    </div>
