
<ng-template #default_tempalte>
<div id="mySidenav" class="sidenav d-sm-none">
  <a href="javascript:void(0)" class="sidenav__closebtn" onclick="closeNav()">&times;</a>
<!--sidebar content-->
  <div class="sidenav__content" id="accordion">
    <div class="sidebar-dropdown" id="dropdown1">
      <button class="dropdown-btn collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
        aria-controls="collapse1 "  routerLink="/collections"> Élan Unstitched</button>
      <ul class="dropdown-container collapse " id="collapse1" aria-labelledby="dropdown1" data-parent="#accordion">
        <li><a routerLink="/collections" class="nav-link">Lawn</a></li>
        <li><a routerLink="/collections" class="nav-link">Villette</a></li>
        <li><a routerLink="/collections" class="nav-link">Tresor</a></li>
        <li><a href="#" class="nav-link">Tissue De Luxe</a></li>
      </ul>
    </div>
    <div class="sidebar-dropdown" id="dropdown2">
      <button class="dropdown-btn collapsed " type="button" data-target="#collapse2" data-toggle="collapse"
        aria-expanded="false" aria-controls="collapse2"> Élan Vital</button>
      <ul class="dropdown-container collapse" id="collapse2" aria-labelledby="dropdown2" data-parent="#accordion">
        <li><a href="#" class="nav-link">Vital</a></li>
        <li><a href="#" class="nav-link">Indigene</a></li>
        <li><a href="#" class="nav-link">Essentials</a></li>
      </ul>
    </div>
    <div class="sidebar-dropdown" id="dropdown3">
      <button class="dropdown-btn collapsed " type="button" data-target="#collapse3" data-toggle="collapse"
        aria-expanded="false" aria-controls="collapse3">Prêt-à-Porter</button>
      <ul class="dropdown-container collapse" id="collapse3" aria-labelledby="dropdown3" data-parent="#accordion">
        <li><a href="#" class="nav-link">Le Grand Amour</a></li>
        <li><a href="#" class="nav-link">Claire De Lune</a></li>
      </ul>
    </div>

    <div class="sidebar-dropdown" id="dropdown4">
      <button class="dropdown-btn collapsed " type="button" data-target="#collapse4" data-toggle="collapse"
        aria-expanded="false" aria-controls="collapse4"> Wedding &amp; Luxury Couture</button>
      <ul class="dropdown-container collapse" id="collapse4" aria-labelledby="dropdown4" data-parent="#accordion">
        <li><a href="#" class="nav-link">Rêve d'été</a></li>
      </ul>
    </div>
    <div class="sidebar-dropdown" id="dropdown5">
      <button class="dropdown-btn collapsed " type="button" data-target="#collapse5" data-toggle="collapse"
        aria-expanded="false" aria-controls="collapse5"> Studio</button>
      <ul class="dropdown-container collapse" id="collapse5" aria-labelledby="dropdown5" data-parent="#accordion">
        <li><a href="#" class="nav-link">bridal</a></li>
        <li><a href="#" class="nav-link">Contemporary</a></li>
      </ul>
    </div>

    <div class="sidebar-dropdown" id="dropdown6">
      <button class="dropdown-btn collapsed " type="button" data-target="#collapse6" data-toggle="collapse"
        aria-expanded="false" aria-controls="collapse6">Campaigns </button>
      <ul class="dropdown-container collapse" id="collapse6" aria-labelledby="dropdown6" data-parent="#accordion">
        <li><a href="#" class="nav-link">bridal</a></li>
        <li><a href="#" class="nav-link">Contemporary</a></li>
        <li><a href="#" class="nav-link">Élan Vital </a></li>
        <li><a href="#" class="nav-link">Prêt-à-Porter</a></li>
        <li><a href="#" class="nav-link">runway</a></li>
      </ul>
    </div>

    <div class="sidebar-dropdown" id="dropdown7">
      <button class="dropdown-btn collapsed " type="button" data-target="#collapse7" data-toggle="collapse"
        aria-expanded="false" aria-controls="collapse7">lookbooks </button>
      <ul class="dropdown-container collapse" id="collapse7" aria-labelledby="dropdown7" data-parent="#accordion">
        <li><a href="#" class="nav-link"> Èlan Lawn SS20</a></li>
        <li><a href="#" class="nav-link"> Èlan Winter 19</a></li>
        <li><a href="#" class="nav-link">Élan Vital </a></li>
        <li><a href="#" class="nav-link">Prêt-à-Porter</a></li>
      </ul>
    </div>
    <div class="sidebar-dropdown">
      <button class="dropdown-btn contact-us " type="button">contact Us</button>
    </div>

    <div class="sidebar-dropdown">
      <button class="dropdown-btn subscribe " type="button">subscribe </button>
    </div>
  </div>
<!---sidebar bottom-->
  <div class="sidebar-bottom">
    <div class="sidebar-bottom__header-search">
      <form class="sidebar-bottom__sidebar-search">
        <a href="#" (click)="showsearch()">
          <svg id="search" viewBox="0 0 20 20" class="icon icon-glass" height="100%">
            <path
              d="M18.4 17.6l-3.7-3.7c1.2-1.3 1.9-3 1.9-4.9 0-4.1-3.4-7.5-7.5-7.5S1.5 4.9 1.5 9s3.4 7.5 7.5 7.5c1.9 0 3.6-.7 4.9-1.9l3.7 3.7c.1.1.2.1.4.1s.3 0 .4-.1c.1-.1.1-.5 0-.7zM2.5 9c0-3.6 2.9-6.5 6.5-6.5s6.5 2.9 6.5 6.5-2.9 6.5-6.5 6.5S2.5 12.6 2.5 9z">
            </path>
          </svg>
        </a>
        <input type="search" class="search-input" [ngClass]="{show: shouldShow}" autofocus>
      </form>
    </div>

    <a href="#" class="sidebar-bottom__account-link">Login</a>
  </div>
</div>
</ng-template>
<!-- 2nd template -->
<ng-template #navigation_template>
  <div id="mySidenav" class="side-navigation menu d-sm-none ">
    <a href="javascript:void(0)" class="side-navigation__closebtn" onclick="closeNav()">
        <svg class="icon-close" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
            style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
                <g>
                    <polygon points="512,59.076 452.922,0 256,196.922 59.076,0 0,59.076 196.922,256 0,452.922 59.076,512 256,315.076 452.922,512 
                    512,452.922 315.076,256"></polygon>
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
        </svg>
    </a>
    <nav>
        <ul class="side-navigation__content">
            <li class="dropdown-item">
                <a href="#">
                    <span>Élan Unstitched</span>
                    <span class="dropdown-item__icon" onclick="opendrop()"><i class="fa fa-angle-right"
                            aria-hidden="true"></i></span>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <span> Élan Vital</span>
                    <span class="dropdown-item__icon" onclick="opendrop2()"><i class="fa fa-angle-right"
                            aria-hidden="true"></i></span>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <span>Prêt-à-Porter</span>
                    <span class="dropdown-item__icon"  onclick="opendrop3()"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <span>Wedding &amp; Luxury Couture</span>
                    <span class="dropdown-item__icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <span> Studio</span>
                    <span class="dropdown-item__icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <span> Campaigns</span>
                    <span class="dropdown-item__icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <span> lookbooks</span>
                    <span class="dropdown-item__icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <span> contact Us</span>
                </a>
            </li>
        </ul>
    </nav>
    <div id="mydrop" class="openmenu2">
        <div class="title">
            <span class="title__icon" onclick="closedrop()">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </span>
            <span>Élan Unstitched</span>
        </div>
        <ul class="side-navigation__content">
            <li class="dropdown-item">
                <a href="#">
                    <span>Lawn</span>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <span> Villette</span>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <span>Tresor</span>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <span>Tissue De Luxe</span>
                </a>
            </li>
            <div class="container" style="text-align: center;">
                <img src="../../assets/images/mobile-bnner.jpg" class="sideimg">
                <p>Capsule collections you won’t find elsewhere</p>
                <button class="shop_now">shop now </button>
            </div>

        </ul>
    </div>

    <div id="mydrop2" class="openmenu2">
        <div class="title">
            <span class="title__icon" onclick="closedrop2()">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </span>
            <span>Élan Vital</span>
        </div>
        <ul class="side-navigation__content">
            <li class="dropdown-item">
                <a href="#">
                    <span>Vital</span>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <span> Indigene</span>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <span>Essentials</span>
                </a>
            </li>
            <div class="container" style="text-align: center;">
                <img src="../../assets/images/mslider.webp" class="sideimg" width="100%;">
                <p>Our trendy daywear line</p>
                <button class="shop_now">shop now </button>
            </div>

        </ul>
    </div>
    <div id="mydrop3" class="openmenu2">
      <div class="title">
          <span class="title__icon" onclick="closedrop3()">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
          </span>
          <span>Prêt-à-Porter</span>
      </div>
      <ul class="side-navigation__content">
          <li class="dropdown-item">
              <a href="#">
                  <span>Le Grand Amour</span>
              </a>
          </li>
          <li class="dropdown-item">
              <a href="#">
                  <span> Claire De Lune</span>
              </a>
          </li>
          <div class="container" style="text-align: center;">
              <img src="../../assets/images/mb3.webp" class="sideimg" width="100%;">
              <p >Capsule collections you won’t find elsewhere</p>
              <button class="shop_now">shop now </button>
          </div>

      </ul>
  </div>
</div>
</ng-template>

<ng-container *ngTemplateOutlet="navigation_template"></ng-container>