.sidenav{
    display: none;
}
@media (max-width: 605px) {

#mysidenav{
    background-color: #fff;
}

.sidenav {
    display: block;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 0;
    background-color: rgba(237, 235, 233,0.9) !important;
    overflow: hidden;
    padding: 62px 0px 11px 0px;
    overflow-y: auto;
    transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
    .closebtn{
        float: right;
        position: absolute;
        top: -2px;
        right: 10px;
        font-size: 30px;
        color: gray;
    }
  
   .sidebar-dropdown{
       .dropdown-btn {
        text-decoration: none;
        font-size: 14px;
        display: block;
        width: 100%;
        background: none;
        border:none;
        color: #000;
        letter-spacing: 1.5px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: left;
        cursor: pointer;     
        margin-bottom: 9px;
        font-family: "gillsans" ,sans-serif;
        padding: 15px 30px;
        margin: 0;
        }
        .contact-us , .subscribe{
            outline: none;
        }
    
        .dropdown-container{
            list-style: none;
            padding-left: 47px;
            li{
                position: relative;
                margin-bottom: 10px;
               
                a{
                font-size: 14px;
                text-transform: uppercase;
                color:#000;
                display: table;
                letter-spacing: 2px;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 10px;
                text-decoration: none;
                }
            }
        }
    }
    .sidebar-bottom{
        padding: 10px 30px;
        display: flex;
        .header-search{
            display: flex;
            position: relative;
        }
        .account-link{
        position: absolute;
         right: 22px;
         font-size: 10px;
         letter-spacing: 1px;
         text-transform: uppercase;
         color: #000 !important;
        }
    }
    #sidebar-search input[type=search] {
        display: none;
    }
  
    #sidebar-search  .show{
        display:inline-block !important;
        width: 160px;
        color: #000;
        background-color:transparent;
        cursor: auto;
        transition: all .5s;
        padding-left: 10px;
    }
    .icon{
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        fill: currentColor;
        color: black;
    }

}
}